* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* styling variable to be used in project */
:root {
	/* primary colors and fonts */
	--white: #fafafa;
	--blk-text: #272829;
	--darkbrown: #967e76;
	--alt-text: #eee3cb;
	--alt-text-secondary: #272928;
	/* footer styles */
	--darkgray: #61677a;
	--tan: #d7c0ae;
	/* alt colors */
	--atl-white: #fff6e0;
	--alt-bg: #9babb8;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Flex', sans-serif;
	background-color: var(--white);
}

/* Header/Navigation */
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-container {
	position: fixed;
	top: 0.25px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--darkbrown);
}

/* header logo */
.logo {
	width: 55px;
	padding-top: 6px;
}

.nav-wrapper {
	padding-bottom: 3px;
}

.nav-list {
	display: flex;
	list-style: none;
}

.nav-list li > a {
	font-family: 'Radley', roboto, sans-serif;
	letter-spacing: 0.75px;
	color: var(--blk-text);
	text-decoration: none;
	padding: 0 6px;
}

.nav-list li > a:hover {
	text-decoration: underline;
	color: var(--white);
}

/* hero image */
.hero-text-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-image {
	background: url('../images/bgimage-surfers.webp') no-repeat center
		center/cover;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
	min-height: 655px;
	min-width: 280px;
}

h1 {
	width: 100%;
	color: var(--white);
	font-family: 'Palanquin Dark', roboto, sans-serif;
	font-size: 2.75rem;
	letter-spacing: 1.5px;
	font-weight: 700;
	text-shadow: 1px 1px 2px black;
	margin: 175px auto;
}

/* hero text  "Join to day..."*/
.hero-text > p {
	font-family: 'Palanquin Dark', roboto, sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	letter-spacing: 1.5px;
	color: var(--white);
}

/* pushes hero text down to bottom of page */
.hero-text {
	margin-top: 240px;
}

.arrow-down {
	margin-top: 50px;
}

.arrow-down > i {
	font-size: 40px;
	color: var(--white);
}

.arrow-down:focus {
}

/* main  */
#main {
	padding: 0 16px;
}

#about {
	padding-top: 100px;
}

/* section tags */
section > h2 {
	width: 75%;
	color: var(--white);
	font-size: 1em;
	font-weight: 700;
	margin-bottom: 24px;
	padding: 4px 0 6px 8px;
	background-color: var(--darkgray);
}

/* about section  */
.main-about > p {
	letter-spacing: 0.75px;
	font-family: 'Radley', roboto, sans-serif;
}

.main-about > h3 {
	font-family: 'Radley', roboto, sans-serif;
}

.main-about > h4 {
	font-family: 'Palanquin Dark', roboto, sans-serif;
}

section > h3 {
	font-family: 'Roboto Flex', sans-serif;
	font-weight: 600;
	color: var(--blk-text);
	margin: 16px 0 12px 0;
	letter-spacing: 1.5px;
	padding: 2px 4px;
  font-weight: 800;
	box-shadow: 2px 2px 5px var(--tan);
}

h4 {
	margin: 24px 0 6px 0;
	color: var(--alt-text-secondary);
	font-family:'Radley', roboto, sans-serif;
	font-size: 1em;
	font-weight: 900;
	letter-spacing: 1px;
}

h4 ~ p {
	padding: 0 1em;
	letter-spacing: 1px;
}

.innovation > p:last-child {
	padding-top: 1rem;
}

/* Gallery section */

#gallery {
	padding-top: 45px;
	padding-bottom: 20px;
}

/*  adds spacing between location */
span {
	padding: 0 6px;
	content: '\00B7';
}

.locations {
	display: block;
	margin-top: 25px;
}

.locations > p {
	padding: 0 10px 20px 10px;
	font-size: 14px;
	text-align: center;
	line-height: 1.75em;
}

/* default image styling */
.gallery-image-wrapper {
	display: grid;
	gap: 12px;
}

/* Card wrapper class style component  */
.card-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 2px 2px 5px var(--tan);
}

.card-image-container {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
}

img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
}

.card-text-wrapper {
	width: 100%;
}

.card-text-wrapper > p {
	width: 100%;
	font-size: 12px;
	letter-spacing: 1.5px;
	padding: 4px;
}

.blank-card {
	height: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
	background: white;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 2px 2px 5px var(--tan);
}

.blank-card-image-container {
	padding-top: 16px;
}

.blank-card-text-wrapper > p {
	font-size: 1.5em;
}

/* registration and contact */
#register {
	padding-top: 100px;
}

.register-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form-contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* form for registration */
form {
	display: flex;
	padding: 20px;
	margin: 10px 0px;
	background-color: rgba(253, 255, 254, 0.9);
	border: 1px solid var(--darkgray);
	border-radius: 8px;
}

label {
	color: var(--darkgray);
	font-weight: 600;
}

.inputs {
	width: 100%;
	margin-top: 6px;
	margin-bottom: 8px;
	background: transparent;
	border: 1px solid var(--darkgray);
	border-radius: 6px;
}

.inputs:not(textarea[cols]) {
	height: 1.5em;
}

textarea {
	overflow: hidden;
}

.call-to-action {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	padding: 8px 16px;
	font-weight: 600;
	background-color: var(--white);
	border-radius: 6px;
	text-transform: uppercase;
}

/* Initially hide the message */
.hidden-message {
	display: none;
}

/* Style the revealed message */
#message.revealed {
	display: block;
	color: var(--darkbrown);
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}

/*  Orginaztion Contact info*/
.contact-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
	margin-top: 40px;
	background: var(--tan);
}

.contact-title-wrapper {
	display: flex;
	flex-direction: column;
}

.logo-contact-wrapper {
	margin: 0 auto;
}

.logo-contact {
	width: 70px;
}

.contact-title,
h3 p {
	letter-spacing: 2px;
	text-align: center;
}

.contact-title:last-child {
	padding-top: 4px;
	font-size: 12px;
}

.contact-info-wrapper {
	margin-top: 12px;
	width: 100%;
}

.contact-info-wrapper > p {
	text-align: center;
	font-size: 12px;
	line-height: 12px;
}

/* pushes footer to bottom of page */
main {
	flex: 0 auto;
}

/* footer */

/* Social media icon links and orginazation website */
.social-wrapper {
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--darkgray);
}

.social-website > a {
	text-decoration: none;
	color: var(--white);
}

.icon {
	width: 38px;
	height: 38px;
	margin-top: 1em;
}

.icon > img {
	padding: 0 6px;
}

.social-icons {
	display: flex;
	justify-content: center;
}

.social-wrapper > p {
	font-size: 12px;
	letter-spacing: 1px;

	color: var(--white);
}

/* Media query for /

/*  Mobile */
@media screen and (min-width: 499px) {
	.logo {
		width: 75px;
		padding-top: 6px;
	}

	.nav-list li > a {
		font-size: 1.25em;
		padding: 1em;
	}

	/* hero text */
	h1 {
		font-size: 4rem;
		letter-spacing: 3px;
	}
	.hero-text {
		margin-top: 150px;
		font-size: 18px;
	}

	.arrow-down {
		margin-top: 40px;
	}
	section > h2 {
		margin-bottom: 8px;
		font-size: 1.5em;
		font-weight: 700;
	}

	#about {
		padding-top: 126px;
	}

	#gallery {
		padding-top: 120px;
		padding-bottom: 20px;
	}

	#register {
	}

	form {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	/* Gallery Cards */
	.gallery-image-wrapper {
		grid-template-columns: auto auto;
		gap: 12px;
	}
}

/*  medium screens and tablet view */
@media screen and (min-width: 767px) {
	.nav-list li > a {
		font-size: 1.5rem;
		padding: 1rem;
	}

	h1 {
		font-size: 5.5rem;
		letter-spacing: 10px;
	}

	.header-container {
		flex-direction: row;
		justify-content: space-between;
	}

	.logo {
		margin: 6px 0 6px 16px;
	}

	.hero-text {
		margin-top: 150px;
		font-size: 1.25em;
	}

	.arrow-down {
		margin-top: 50px;
	}
	.locations > p {
		font-size: 1.5em;
		padding: 0 10px 50px;
	}

	.gallery-image-wrapper {
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto; /* Two rows with 3 columns, and one row with 2 columns */
		gap: 12px;
		align-items: center;
	}

	.blank-card {
		display: flex;
	}

	/* registration section */

	.form-contact-container {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 60px 0 60px 0;
		padding: 0 10px;
		box-shadow: 2px 2px 4px 2px grey;
		border-radius: 10px;
		gap: 16px;
	}

	.contact-container {
		width: 50%;
		bottom: 30px;
		padding: 50px 0;
		border-radius: 10px;
	}

	form {
		width: 50%;
		margin: 20px 0;
	}

	.logo-contact {
		width: 150px;
		margin-bottom: 26px;
	}

	footer {
		margin-top: 10px;
	}
}

/*  large screens */
@media screen and (min-width: 978px) {
	.hero-text {
		margin-top: 150px;
		font-size: 1.25em;
	}

	.arrow-down {
		margin-top: 10px;
	}

	#gallery {
		padding-top: 110px;
	}

	.locations > p {
		font-size: 2em;
		padding: 0 200px 50px;
	}

	.blank-card-text-wrapper > p {
		font-size: 1.25em;
		padding-bottom: 16px;
	}
}

/* x-large screens*/
@media screen and (min-width: 1400px) {
	.hero-text {
		margin-top: 150px;
		font-size: 1.25em;
	}

	.arrow-down {
		margin-top: 10px;
	}
	#about {
		padding-top: 120px;
	}

	#gallery {
		padding-top: 110px;
	}

	.locations > p {
		font-size: 2em;
		padding: 0 200px 50px;
	}

	#register {
		padding-top: 110px;
	}

	.blank-card-text-wrapper > p {
		font-size: 1.25em;
		padding-bottom: 16px;
	}
}
